/* Dave Gray CSS Tuto 14/26 */
/* https://youtu.be/B8BFVzbKmPI?t=279 */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* basic CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 400px;
  /* center the container horizontally */
  margin-inline: auto;
  border: 1px solid #000;
  /* make it a flex container */
  display: flex;
  /* position the flex items horizontally */
  justify-content: space-between;
  /* position the flex items vertically */
  align-items: center;
}

.box {
  min-width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
}